/***ANIMATIONS***/

/*Background animation / smooth zoom infinite*/
@keyframes animMuse {
  0% {
    background-position: 50% 47%;
    background-size: 100%;
  }
  100% {
    background-position: 47% 50%;
    background-size: 107%;
  }
}

/* Footer entrance animation*/
/*
@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}
*/

/* Header entrance animation*/
/*
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
*/

/*logo's shadow and movement anim*/
@keyframes ShadowAnim {
  0% {
    box-shadow: -5px -5px 10px -6px var(--greenish); /*1*/
    transform: translateX(0px);
    transform-origin: center;
    transform: perspective(1000px) rotateY(5deg);
  }

  8.33% {
    box-shadow: -2.5px -5px 10px -6px var(--blueish);
  }
  16.66% {
    box-shadow: 0px -5px 10px -6px var(--blueish);
  }
  24.99% {
    box-shadow: 2.5px -5px 10px -6px var(--blueish);
  }
  33.32% {
    box-shadow: 5px -5px 10px -6px var(--blueish); /*2*/
  }
  41.65% {
    box-shadow: 5px -2.5px 10px -6px var(--blueish); /*2*/
  }
  49.98% {
    box-shadow: 5px 0px 10px -6px var(--greenish);
  }
  50% {
    transform: translateX(10px);
    transform-origin: center;
    transform: perspective(1000px) rotateY(-5deg);
  }
  58.31% {
    box-shadow: 5px 2.5px 10px -6px var(--greenish);
  }

  66.64% {
    box-shadow: 5px 5px 10px -6px var(--greenish); /*3*/
  }
  74.97% {
    box-shadow: 2.5px 5px 10px -6px var(--greenish); /*3*/
  }

  83.30% {
    box-shadow: 0px 5px 10px -6px var(--blueish);
  }
  91.63% {
    box-shadow: -2.5px 5px 10px -6px var(--blueish);
  }

  99.96% {
    box-shadow: -5px 5px 10px -6px var(--blueish); /*4*/
  }

  100% {
    transform: translateX(0px);
    transform-origin: center;
    transform: perspective(1000px) rotateY(5deg);
  }
}

/*Logo's entrance*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*background's entrance*/
/*
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
*/
