/***COMPONENTS STYLES***/
@import "./animations.css";
@import "./header.css";
@import "./responsive.css";
@import "./BackgroundParticleAnim.css";
@import "./intro.css";

/*
@import "./contact.css";
@import "./cv.css";
@import "./parcours.css";
@import "./projets.css";
@import "./404.css";
*/

body,
html {
  /*General*/
  font-family: "Roboto Slab", serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  color: var(--whiteish);

  /*Background*/
  background: url("./background.webp"), var(--blackish);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  /*Background animation*/
  animation: animMuse 30s ease-out infinite alternate both;

  /*Color Variables*/
  --blackish: #0e0d0d;
  --blackishBack: #000000cc;
  --whiteish: #f9f7fd;
  --greenish: #85dd91;
  --greenish2: #497e50;
  --greenish3: #325537;
  --greenish4: #213724;
  --blueish: #0d9580cc;
}

a,
p {
  font-size: 18px;
  color: var(--whiteish);
  transition: 0.3s;
}
