/***COMPONENTS STYLES***/
@import "./animations.css";
@import "./header.css";
@import "./responsive.css";
@import "./BackgroundParticleAnim.css";
@import "./BackgroundParticleAnim2.css";
@import "./intro.css";
@import "./footer.css";
@import "./modal.css";
@import "./page404.css";
@import "./form.css";
@import "./createurs.css";
@import "./univers.css";

html {
  background-color: back;
}
body,
html {
  /*General*/
  font-family: "Roboto Slab", serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  color: var(--whiteish);

  /*Background*/
  background: url("./background.webp");
  background-color: back;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /*overflow: hidden;*/   /***/

  /*Background animation*/
  animation: animMuse 30s ease-out infinite alternate both 1s;

  /*Color Variables*/
  --blackish: #0e0d0d;
  --blackishBack: #000000cc;
  --blackishBack2: #00000099;
  --blackishBack3: #00000066;
  --whiteish: #f9f7fd;
  --greenish: #85dd91;
  --greenish2: #497e50;
  --greenish3: #325537;
  --greenish4: #213724;
  --blueish: #0d9580cc;
  --greenishTrans: #b5cc9633;
  --greenishTrans2: #85dd9140;
}
a,
p {
  font-size: 18px;
  color: var(--whiteish);
  transition: 0.3s;
  text-decoration: none;
}
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
