/*MyShopStyle*/

html, body, main,  header, header *, .bg-light{
	color: white!important;
	background-color: #000000!important;
}
header img, footer img{
 filter: invert(100%);
}
.bg-light{
	text-align: center;
}
.bg-light h2{
	color: white!important;
	background-color: #000000!important;
}
.card {
	color: white!important;
	border-radius: 5px;
	background-color: black;
}
.text-dark{
	color: white!important;	
}
.card-img-top {
	border-radius: 5px 5px 0 0;
}
.card-body
{
	border-radius: 0 0 5px 5px;
	padding-top: 5px!important;
}
header a, header i, footer a, footer i, footer h5, .text-primary{
	color: white!important;
}
.col-lg-3.align-self-lg-end.text-lg-right{
	display: none;
}