/***RESPONSIVE***/

/**********MD-992************/
@media (max-width: 1401px) {
	.react-responsive-modal-modal {
		max-width: 80vw !important;
	}
}

/**********MD-992************/
@media (max-width: 992px) {
	nav p,
	nav button p,
	nav li a,
	nav li,
	nav div {
		font-size: 16px;
	}

	#intro {
		display: block !important;
		margin: auto !important;
		padding: 50px;
		/*background-color: red;*/
	}

	#createurs h1 {
		/*animation: unset !important;*/
	}
	.creator a::before {
		color: white !important;
	}
	.creator .Jobs {
		margin-top: 0px !important;
		height: auto !important;
		bottom: -55px !important;
		margin: auto;
		width: 89% !important;
	}
	.intro {
		padding: 50px;
		width: 100% !important;
		margin-top: 50% !important;
		flex-direction: row-reverse !important;
		position: unset !important;
		top: unset !important;
		left: unset !important;
		transform: translate(0%, -50%) !important;
		margin: auto;
		/*animation: unset !important;*/
	}
	.logoFull {
		width: 40% !important;
		box-shadow: 0px 0px 15px -6px var(--greenish);
	}
	.intro h1 {
		width: 60% !important;
		align-self: center !important;
		padding: 0 50px 0 50px;
		margin-top: 125px !important;
		/*background-color: blue!important;*/
	}
	.creator .Jobs {
		bottom: -70px !important;
	}
}
/**********MD-852************/
@media (max-width: 852px) {
	ul li ul {
		padding: 0;
		margin: 28px auto;
		width: 100%;
		justify-content: center;
		display: flex;
		flex-direction: column;
		text-align: center;
		background-color: var(--greenish);
	}
	ul li ul > * {
		padding: 0px !important;
	}

	ul li ul a,
	ul li ul button {
		color: var(--blackish) !important;
	}
	body,
	html {
		background-position: 40% center !important;
	}
}

/**********SM-768************/
@media (max-width: 768px) {
	body,
	html {
		background-position: 30% center !important;
	}

	.react-responsive-modal-modal p {
		font-size: 16px !important;
	}

	.creator .Jobs {
		bottom: -70px !important;
	}
}

/**********SM-768************/
@media (max-width: 767px) {
	#createurs .row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.creator {
		/*max-width: 50%;
		margin: auto;*/
	}

	.menuF li:nth-child(1),
	.menuF li:nth-child(2),
	.menuF li:nth-child(3) {
		display: none !important; /***********************/
	}
}

/**********688************/
@media (max-width: 688px) {
	body,
	html {
		background-position: 20% center !important;
	}
	footer {
		width: 100%;
		border-radius: 0 !important;
	}
	footer button {
		font-size: 12px !important;
	}
	footer .fa {
		font-size: 18px !important;
	}
	#intro {
		display: block !important;
		margin: auto !important;
	}
	.intro {
		margin-top: 10vh !important;
		flex-direction: column-reverse !important;
		transform: translate(0%, 0%) !important;
		margin: auto;
		padding-top: 15vh !important;
	}
	.logoFull {
		margin-top: 52px !important;
		width: 80% !important;
		width: 60% !important;
	}
	.intro h1 {
		width: 100% !important;
		padding: unset !important;
	}
	form button,
	.btn-block {
		width: 55% !important;
	}
	#createurs {
		overflow-x: hidden;
	}

	#thisUniverse .book {
		flex-direction: column;
		margin-bottom: 80px !important;
	}
	.bookLeft,
	.bookRight {
		width: 100% !important;
		margin-bottom: 25px;
	}
	.bookLeft {
		margin-bottom: 25px;
	}
}

/**********688************/
@media (max-width: 425px) {
	#intro {
		padding: unset;
	}
	.logoFull {
		width: 80% !important;
	}
	.react-responsive-modal-modal {
		padding: 20px !important;
		max-width: 90vw !important;
	}
	.react-responsive-modal-modal p {
		font-size: 14px !important;
	}
	.react-responsive-modal-modal h1 {
		font-size: 18px !important;
	}
	.intro h1 {
		font-size: 20px !important;
		margin-top: 100px !important;
	}
	.creator {
		max-width: 70%;
		margin: auto;
	}
	#thisUniverse * {
		/*animation: unset !important;*/
	}
	#thisUniverse h1 {
		font-size: 40px !important;
	}
	.UP {
		font-size: 16px !important;
	}
	#thisUniverse h2 {
		font-size: 24px /*!important*/;
	}
	.subTitle {
		margin: 10px 0 10px 0 !important;
	}
	#thisUniverse h3 {
		font-size: 22px !important;
	}
	.bookRight .tag {
		margin: 3px 5px 3px 5px;
	}

	.bookRight p {
		font-size: 15px !important;
	}
	.bookRight .sousTitre {
		font-size: 17px !important;
	}
	#createurs h1,
	#thisUniverse h1 {
		animation: unset !important;
	}
}
