/***STORIES***/
.story0 {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/*Main Wrap*/
.storyWrap2 {
  padding: 0 50px 0 50px;
  z-index: -1;
  width: 100vw;
  padding-top: 12vh;
  padding-bottom: 12vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*background-size: cover !important;*/ /**********************CHECKit for responsive****************/
  background-position: center;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background: url("./background/Brume2.webp"), var(--blackish);
  font-family: "Cutive Mono", monospace;
  letter-spacing: -4px !important;
}
/*Title*/
.storyWrap2 h1 {
  text-align: left;
  width: fit-content;
  padding-bottom: 12px;
  margin: 0;
  margin-left: 220px;
  font-size: 70px;
  border-bottom: solid 1px var(--whiteish);
  /*text-shadow: 0px 0px 10px var(--blackish), 0px 0px 10px var(--whiteish);*/
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  letter-spacing: 0px !important;
  text-transform: uppercase;
  text-shadow: 0px 0px 15px var(--blackish);
}

/*details text*/
.storyWrap2 h2 {
  text-align: left;
  width: 70% !important;
  margin-left: 350px;
  font-size: 35px;
  text-align: center !important;
  text-shadow: 0px 0px 10px var(--blackish);
  text-align: justify;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
}
/*wave img*/
.wave {
  max-width: 220px;
  position: absolute;
  right: 450px;
  top: 80px;
  transform: rotate(2deg);
}
/*Spark img 1*/
.spark {
  max-width: 500px;
  position: absolute;
  left: -300px;
  top: 0;
}
/*Spark img 2*/
.spark2 {
  max-width: 800px;
  position: absolute;
  left: -450px;
  top: -80px;
  -webkit-transform: scaleX(-1.5);
  transform: scaleX(-1.5);
}
/*Cards wrapper*/
.cardWrapper {
  /*margin-top: 50px;*/
  margin-top: 150px;

  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
}
/*Story cards*/
.cardWrapper a {
  text-decoration: none;
}
.StoryCard:hover {
  transform: scale(1.02);
}
.StoryCard {
  transform: scale(1);
  transition: 0.5s;
  margin: 25px;
  text-align: center !important;
  /*padding: 30px 20px 20px 20px;*/
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1.5px var(--blackish);
  border-radius: 5px;
  background: url("./background/background4.webp"), var(--blackish);
  position: relative;
  box-shadow: 3px 3px 10px 2px var(--blackish);
}
/*Story Title*/
.cardTitle {
  font-size: 85px;
  font-family: "Amatic SC", cursive;
  width: fit-content;
  border-bottom: solid 1px var(--greenish);
  text-shadow: 0px 0px 10px var(--blackish);
}
/*Story Author*/
.cardAuthor {
  font-size: 45px; /*********************CHECKit*******RESSPONSIVE*********/
  padding-top: 10px;
  margin-bottom: 25px;
  border-bottom: unset;
  padding: 0;
  text-shadow: 0px 0px 10px var(--blackish);
  text-align: justify;
  letter-spacing: -5px !important;
}
/*Story reading time*/
.readingTime {
  background-color: var(--blackish);
  position: absolute;
  border-radius: 5px;
  font-size: 18px;
  top: -10px;
  right: -10px;
  padding: 5px 10px 5px 5px;
  font-family: poppins;
  letter-spacing: 0;
  border: solid 1px var(--greenish);
}
