/***STORY***/

/*all Wrap*/
.story {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  text-align: center;
}
/*Main Wrap*/
.storyWrap {
  z-index: -1;
  width: 100vw;
  height: 100%;
  padding-top: 60px;
  display: flex;
  max-width: 100%;
  /*overflow: hidden;*/
  min-height: 100vh;
  /*position: relative;*/
  align-items: center;
  flex-direction: column;
  /*background-size: cover !important;*/ /**********************CHECKit for responsive****************/
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat !important;
  background: url("./background/Brume2.webp"), var(--blackish);
  animation: animMuse 70s infinite alternate both !important;
}

/*Button general style*/
.storyWrap button {
  border: none;
  padding: 15px;
  outline: none;
  font-size: 18px;
  /*border-radius: 25px;*/
  border-radius: 15px;
  text-decoration: none;
  background-color: var(--blackish);
  box-shadow: 0 0 15px -8px var(--whiteishTrans);
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
}
.storyWrap button:hover {
  border: none;
  outline: none;
  transition: 0.5s;
  text-decoration: none;
  transform: scale(1.03);
  color: var(--blackish);
  background-color: var(--greenish);
}
/*refresh button*/
.refresh,
.goBack {
  /*left: 10px;*/
  width: 50px;
  height: 50px;
  /*position: absolute;*/
  border-radius: 50%;
  padding: unset !important;
  color: var(--greenish);
}
.refresh:hover button,
.goBack:hover button {
  background-color: var(--greenish);
}

.refresh {
  margin-top: 5px;
  /*visibility: hidden;*/
  font-size: 25px !important;
}

.goBack {
  /*top: 50px;*/
  font-size: 23px !important;
}

.storyText2 {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
}
/*Title and Author text*/
.storyText h1,
.storyText h2 {
  margin: 0;
  font-size: 150px;
  width: fit-content;
  padding-bottom: 5px;
  border-bottom: solid 1px var(--greenish);
  text-shadow: 0px 0px 10px var(--blackish), 0px 0px 10px var(--whiteish);
}
/*Title*/
.storyText h1 {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  font-family: "Amatic SC", cursive;
}
/*Author and story text*/
.storyText h2 {
  width: 100%;
  font-size: 33px; /*********************CHECKit*******RESSPONSIVE*********/
  padding-top: 10px;
  margin-bottom: 25px;
  border-bottom: unset;
  text-shadow: 0px 0px 10px var(--blackish);
  text-align: justify;
  font-family: "Cutive Mono", monospace;
  letter-spacing: -5px !important;
}
/*Author text*/
.auteur {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
  text-align: center !important;
  font-size: 50px !important;
}
/*First paragraph entrance*/
.firstT {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/*Page numbers*/
.pageNum {
  margin: 0px auto 100px auto !important;
  /*color: var(--greenish);*/
}
/*************CHECK RESPONSIVE**********/

/*Audio player*/
#audio {
  position: relative;
  border-radius: 20px;
  padding: 20px 7px 7px 10px;
  margin-bottom: 3px;
  border: double 7px #24150c;
  background-position: center;
  background-attachment: fixed;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  box-shadow: -5px 5px 15px -3px var(--blackish);
  background: url("./background/wood.webp"), var(--blackish);
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
}
/*Audio player text*/
#audio p {
  font-size: 20px;
  padding-bottom: 5px;
  text-shadow: 1px 1px 1px var(--blackish);
  font-family: "Cutive Mono", monospace;
  color: var(--greenish);
}
/*Woofer styling*/
.Radio {
  top: 5px;
  width: 50px;
  right: 10px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  border: double 2px #24150c;
  background-position: center;
  background-attachment: fixed;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: url("./background/grid.webp"), var(--blackish);
}
.Radio1 {
  left: 10px;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}
/*inset radio styling*/
audio::-webkit-media-controls-panel {
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat !important;
  background-color: var(--greenish);
  background: url("./background/wood2.webp"), #271910;
}
/*antenna styling*/
.antenna {
  right: -20px;
  margin: 0 30px -100px 0;
  width: 100px;
  top: -112px;
  height: 200px;
  position: absolute;
  background-position: center;
  background-attachment: fixed;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: url("./background/antenna.webp");
  animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
  -webkit-animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
}
/*left and right Arrows*/
.next,
.previous {
  color: var(--greenish);
  transition: 0.5s;
  font-size: 35px !important;
  animation: unset !important;
  box-shadow: unset !important;
  transform: scale(1) !important;
  background-color: unset !important;
}
/*Arrows hover*/
.next:hover,
.previous:hover {
  background-color: none !important;
  color: var(--greenish) !important;
  transform: scale(1.25) !important;
}
/*Author & back buttons*/
.fin1,
.fin2 {
  margin: 20px;
  /*
  z-index: +1;
  margin: 5px auto 20px auto;
  text-align: center !important;
  animation: unset !important;
  */
}
/*Author button*/
.fin1 {
  /*margin-top: 7vh !important;*/
}

.left,
.right {
  /*
  background-color: lightgoldenrodyellow;
  flex-wrap: wrap;
  padding:20px;
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  */
}
.middle {
  /*background-color: gold;*/
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
}

/*Main part*/
.storyText {
  background-color: lightcyan;
  /*height: 100%;*/
  height: fit-content;
  align-self: center;
  flex-direction: column;
  max-width: 600px !important;
  display: flex;
  /*  flex-wrap: wrap;*/
  align-items: center;
  /*padding: 80px 0 20px 0;*/
  justify-content: center;
  /*justify-content: space-between;*/
}
.storyText button {
  width: fit-content;
}
/*DONE*/

.top {
  display: flex;
  display: flex;
  width: 100%;
  flex: 6;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /*justify-content: flex-end;*/
  justify-content: space-between;
  width: 100%;
  max-height: 200px;
  flex: 1;
  padding: 0 20px 0 20px;
}

.left0 {
  padding: 35px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonWrap {
  display: flex;
  /*width: 100%;*/
  /*flex-direction: column;
  justify-content: space-between;*/
  justify-content: space-envenly;
}
