/***STORY***/

/*all Wrap*/
.story {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  text-align: center;
}
/*Main Wrap*/
.storyWrap {
  z-index: -1;
  width: 100vw;
  height: 100%;
  padding-top: 60px;
  display: flex;
  max-width: 100%;
  /*overflow: hidden;*/
  min-height: 100vh;
  /*position: relative;*/
  align-items: center;
  flex-direction: column;
  /*background-size: cover !important;*/ /**********************CHECKit for responsive****************/
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat !important;
  background: url("./background/Brume2.webp"), var(--blackish);
  animation: animMuse 70s infinite alternate both !important;
}

/*Button general style*/
.storyWrap button {
  outline: none;
  text-decoration: none;
  color: var(--greenish);
  background-color: unset;
  text-shadow: 2px 2px 1px var(--blackish);
  border: solid 2px var(--whiteish);
  box-shadow: 0 0 15px -8px var(--whiteishTrans);
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
  border-radius: 50%;
  width: 65px !important;
  height: 65px;
  transition: 0.2s;
  transform: scale(1);
}
.storyWrap button:hover {
  border: none;
  outline: none;
  transition: 0.5s;
  text-decoration: none;
  border: solid 2px var(--greenish);
  transform: scale(1.1) !important;
  border-color: var(--greenish) !important;
  background-color: unset !important;
  color: var(--whiteish);
}
.startButton p {
  margin: 0 -5px 0 0;
  font-size: 32px;
  color: var(--greenish);
}
.startButton:hover p {
  color: var(--whiteish);
}
/*refresh button*/
.refresh {
  margin-top: 15px;
  font-size: 25px !important;
  background-color: var(--blackishBack3);
  border-radius: 50%;
  
}
.goBack {
  font-size: 23px !important;
  background-color: var(--blackishBack3);
  border-radius: 50%;

}
.storyText2 {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
}
/*Title and Author text*/
.storyText h1,
.storyText h2 {
  margin: 0;
  font-size: 150px;
  width: fit-content;
  padding-bottom: 20px;
  border-bottom: solid 1px var(--greenish);
  /*border-bottom: solid 1px var(--whiteish);*/

  text-shadow: 0px 0px 10px var(--blackish), 0px 0px 10px var(--whiteish);
}
/*Title*/
.storyText h1 {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  font-family: "Amatic SC", cursive;
  margin-top: 120px !important;
}
/*Author and story text*/
.storyText h2 {
  width: 100%;
  font-size: 33px; /*********************CHECKit*******RESSPONSIVE*********/
  padding-top: 10px;
  margin-bottom: 25px;
  border-bottom: unset;
  text-shadow: 0px 0px 10px var(--blackish);
  text-align: justify;
  font-family: "Cutive Mono", monospace;
  letter-spacing: -5px !important;
  /*background-color: blue;*/
}
/*Author text*/
.auteur {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
  text-align: center !important;
  font-size: 50px !important;
  margin: 10px auto 50px auto !important;
  /*color: var(--greenish);*/
}
/*First paragraph entrance*/
.firstT {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/*Page numbers*/
.pageNum {
  margin: 0px auto 100px auto !important;
  /*color: var(--greenish);*/
}
/*************CHECK RESPONSIVE**********/

/*Audio player*/
#audio {
  position: relative;
  border-radius: 20px;
  padding: 20px 7px 7px 10px;
  margin-bottom: 3px;
  border: double 7px #24150c;
  background-position: center;
  background-attachment: fixed;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  box-shadow: -5px 5px 15px -3px var(--blackish);
  background: url("./background/wood.webp"), var(--blackish);
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
}
/*Audio player text*/
#audio p {
  font-size: 25px;
  padding-bottom: 5px;
  text-shadow: 1px 1px 1px var(--blackish);
  /*font-family: "Cutive Mono", monospace;*/
  font-family: "Satisfy", cursive;
  /*color: var(--greenish);*/
  color: #654532;
  color: #846f63;
  color: #ad9e95;
  color: #c3b0a4;
}
/*Woofer styling*/
.Radio {
  top: 5px;
  width: 50px;
  right: 10px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  border: double 2px #24150c;
  background-position: center;
  background-attachment: fixed;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: url("./background/grid.webp"), var(--blackish);
}
.Radio1 {
  left: 10px;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}
/*inset radio styling*/
audio::-webkit-media-controls-panel {
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat !important;
  background-color: var(--greenish);
  background: url("./background/wood2.webp"), #271910;
  background: url("./background/wood2.webp"), #ad9e95;
}
/*antenna styling*/
.antenna {
  display: none; /****************/
  right: -30px;
  margin: 0 30px -100px 0;
  width: 100px;
  top: -103px;
  height: 200px;
  position: absolute;
  background-position: center;
  background-attachment: fixed;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: url("./background/antenna.webp");
  animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
  -webkit-animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
}
/*left and right Arrows*/
.next,
.previous {
  /*color: var(--greenish);*/
  color: var(--whiteish) !important;
  transition: 0.5s;
  font-size: 35px !important;
  animation: unset !important;
  box-shadow: unset !important;
  transform: scale(1) !important;
  background-color: unset !important;
  border: unset !important;
}
/*Arrows hover*/
.next:hover,
.previous:hover {
  transform: scale(1.25) !important;
  color: var(--greenish) !important;
}
/*Author & back buttons*/
.fin1,
.fin2 {
  margin: 20px;
  z-index: +1;
  visibility: hidden;
}
.left,
.right {
  width: 5%;
}
.middle {
  /*background-color: gold;*/
  display: flex;
  height: 100%;
  width: 90%;
  justify-content: center;
}

/*Main part*/
.storyText {
  /*background-color: red;*/
  width: 80%;
  padding: 50px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}
.storyText button {
  width: fit-content;
}
/*DONE*/

.top {
  display: flex;
  width: 100%;
  flex: 2;
  /*justify-content: center;*/
}

.top2 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 24px;
  align-items: center;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /*justify-content: flex-end;*/
  justify-content: space-between;
  width: 100%;
  max-height: 200px;
  flex: 1;
  padding: 0 20px 20px 0;
}

.left0 {
  padding: 35px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonWrap {
  display: flex;
  justify-content: space-envenly;
}
