/***STORY***/

/**************************Sections**********************************/
/*all*/
.story {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  text-align: center;
}
/*Main Wrap*/
.storyWrap {
  z-index: -1;
  width: 100vw;
  height: 100%;
  padding-top: 60px;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover !important; /**********************CHECKit for responsive****************/
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat !important;
  background: url("./background/Brume2.webp"), var(--blackish);
  animation: animMuse 70s infinite alternate both !important;
}
/*Top Section*/
.top {
  display: flex;
  /*justify-content: space-between;*/
  width: 100vw;
  height: 93vh;
  /*background-color: gold;*/
}
/**************Left*/
.left {
  padding: 45px 10px 0 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
}
/*Middle Section*/
.middle {
  /*background-color: seagreen;*/
  padding: 50px;
  width: 75%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/**************Right*/
.right {
  /*background-color: red;*/
  right: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}
/*Bottom Section*/
.bottom {
  /*margin-top: 50px;*/
  /*width: 100%;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*align-self: flex-end;*/
  /*background-color: red;*/
  position: absolute;
  bottom: 20px;
}
/**************************Buttons**********************************/
/*Button general style*/
.storyWrap button {
  outline: none;
  text-decoration: none;
  color: var(--greenish);
  background-color: unset;
  text-shadow: 2px 2px 1px var(--blackish);
  border: solid 2px var(--whiteish);
  box-shadow: 0 0 15px -8px var(--whiteishTrans);
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  transition: 0.2s;
  transform: scale(1);
  background-color: var(--blackishBack3);
}
/*Author & back buttons*/
.fin {
  font-size: 16px;
  width: fit-content;
  cursor: pointer;
  border-radius: 15px;
  background-color: var(--blackish);
  border: solid 1px var(--greenish);
  padding: 15px;
  transition: 0.5s;
  z-index: +1;
}
#fin2 {
  margin: 10px 0 0 50px;
}
.fin:hover {
  background: unset !important;
  background-color: var(--greenish) !important;
  border: solid 1px var(--blackish);
  color: var(--blackish) !important;
  transform: scale(1.05);
}
.storyWrap button:hover {
  border: none;
  outline: none;
  transition: 0.5s;
  text-decoration: none;
  border: solid 2px var(--greenish);
  transform: scale(1.1) !important;
  border-color: var(--greenish) !important;
  background-color: unset !important;
  color: var(--whiteish);
}
.startButton {
  background-color: unset !important;
}
.startButton p {
  margin: 0 -5px 0 0;
  font-size: 32px;
  color: var(--greenish);
}
.startButton:hover p {
  color: var(--whiteish);
}
/*refresh button*/
.refresh,
.goBack {
  margin-top: 15px;
  font-size: 25px !important;
}
.soundButton {
  font-size: 30px !important;
  padding: 0 5px 0 0;
}
/*Right Arrows*/
.next {
  color: var(--whiteish) !important;
  transition: 0.5s;
  font-size: 35px !important;
  animation: unset !important;
  box-shadow: unset !important;
  transform: scale(1) !important;
  background-color: unset !important;
  border: unset !important;
}
/*Arrows hover*/
.next:hover {
  transform: scale(1.25) !important;
  color: var(--greenish) !important;
}

/**************************Texts**********************************/
/*Title and Author text*/
.middle h1,
.middle h2 {
  margin: 0;
  font-size: 150px;
  width: fit-content;
  padding-bottom: 20px;
  border-bottom: solid 1px var(--greenish);
  /*border-bottom: solid 1px var(--whiteish);*/
  text-shadow: 0px 0px 10px var(--blackish), 0px 0px 10px var(--whiteish);
}
/*Title*/
.middle h1 {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  font-family: "Amatic SC", cursive;
  /*margin-top: 120px !important;*/
}
/*Author and story text*/
.middle h2 {
  width: 100%;
  font-size: 30px;
  padding-top: 10px;
  border-bottom: unset;
  text-shadow: 0px 0px 10px var(--blackish);
  text-align: justify;
  font-family: "Cutive Mono", monospace;
  letter-spacing: -3px !important;
  line-height: 50px;
}
/*Author text*/
.auteur {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
  text-align: center !important;
  font-size: 50px !important;
  margin: 10px auto 50px auto !important;
  /*color: var(--greenish);*/
}
/*Page numbers*/
.pageNum {
  position: absolute;
  top: 120px;
  /*margin: 0px auto 100px auto !important;*/
  color: var(--greenish); /**/
}
/**************************Animation DETAILS**********************************/
.blurIt {
  -webkit-animation: text-blur-out 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.2s
    both;
  animation: text-blur-out 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.2s both;
}
.hideAudio {
  display: none;
}
.fade {
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
}

/**************************Animation**********************************/
/*animation text-blur-out*/
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  25% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
  }
  50% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  75% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  25% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
  }
  50% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  75% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
}
