/****This Universe****/
#thisUniverse {
    z-index: 500;
    width: 100vw;
    height: 100vh;
    animation: animMuse 25s ease-out infinite alternate both;
    width: 100vw;
    height: 100%;
    /*min-height: 100vh;*/
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    padding: 13vh 0 10vh 0;

    /*background: url("./background/background3.webp");*/
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.MemoriaU {
    background: url("../../public/img/Mémoria.webp");
}
.FuturiaU {
    background: url("../../public/img/Futuria.webp");
}
.OnyriaU {
    background: url("../../public/img/Onyria.webp");
}
.UrbanaU {
    background: url("../../public/img/Terra Urbana.webp");
}
.RougeU {
    background: url("../../public/img/Rouge d'Absinthe.webp");
}
.FolieU {
    background: url("../../public/img/L'Antre de la Folie.webp");
}
.FleurU {
    background: url("../../public/img/Fleur d'Absinthe.webp");
}
.ChrysalisU {
    background: url("../../public/img/Chrysalis.webp");
}
.PousseU {
    background: url("../../public/img/Pousse d'Absinthe.webp");
}

#thisUniverse .container {
    padding: 0 30px 0 30px;
}
#thisUniverse h1 {
    text-align: center;
    font-size: 65px;
    text-shadow: 5px 2px 12px var(--blackish);
    color: var(--whiteish);
    transition: 0.6s;
    text-transform: uppercase;
    animation: anipers 15s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
        alternate both;
    margin-bottom: 25px;
}
.UP {
    margin-bottom: 100px;
}
#thisUniverse .row {
    display: flex;
    flex-wrap: wrap;

    flex-direction: column; /**/
    justify-content: center;
}

#thisUniverse .book {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    margin-bottom: 150px;
}

#thisUniverse h2 {
    /*    display: flex;*/
    /*color:  red;*/
}

#thisUniverse .book img {
    animation: anipers3 11.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
        alternate both;
}

#thisUniverse .container .row .book:nth-child(even) img {
    animation: anipers3 11.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
        alternate both -7.5s;
}

#thisUniverse .container .row .book:nth-child(even) {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row-reverse;
}

#thisUniverse .container .row .book:last-child {
    margin-bottom: 50px;
}
.bookLeft,
.bookRight {
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bookLeft {
    width: 30%;
}
.bookLeft img {
    -webkit-box-reflect: below 2px
        linear-gradient(
            transparent,
            transparent,
            transparent,
            transparent,
            #0004
        );
    transform-origin: center;
    transition: 0.8s;
    box-shadow: 4px 4px 10px 2px var(--blackishBack2);
}
#thisUniverse .container .row .book:nth-child(even) img {
    box-shadow: 4px 4px 8px 1px var(--blackishBack2);
}

#thisUniverse .container .row .book:nth-child(even) .bookRight {
    box-shadow: -4px 4px 10px 2px var(--blackishBack2);
}
.bookRight {
    width: 65%;
    padding: 7px;
    color: var(--blackish);
    border-radius: 7px;
    background-color: var(--whiteishTrans);
    box-shadow: 4px 4px 8px 1px var(--blackishBack2);
}
.book h2,
.book h3 {
    margin: 10px 0 0 0;
    text-shadow: 1px -1px 1px var(--whiteishTrans);
}
.book h2 {
    font-size: 28px;
}
.book h3 {
    font-size: 22px;
}
.book p {
    color: var(--blackish);
    text-align: justify;
    font-size: 16px;
    padding: 10px;
    font-weight: 450;
    margin: 0;
}
.subTitle {
    margin: 20px;
    display: flex;
    width: 95%;
    text-align: left;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.subTitle p {
    color: var(--whiteish);
    background-color: var(--blackish);
    padding: 4px;
    font-size: 14px;
    text-align: center;
    align-self: center;
    margin: 3px 10px 3px 10px;
    border-radius: 5px;
}
