/***UNIVERS***/

.univers {
  background-color: var(--blackish);
  /*animation: animMuse 25s ease-out infinite alternate both;*/
  width: 100vw;
  height: 100vh;
  position: relative;
}

.univers img {
  /*animation: animMuse 25s ease-out infinite alternate both;*/ /********************/
}
.linkToU {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  transition: 1s;
}

.linkToU:link {
  text-decoration: none;
}
.linkToU:hover h1 {
  transform: scale(1.05);
}
.linkToU:hover p {
  transform: scale(1.01);
}
.univers h1 {
  text-align: center;
  font-size: 100px;
  text-shadow: 5px 2px 12px var(--blackish);
  color: var(--whiteish);
  transition: 0.6s;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.univers p {
  text-align: center;
  text-shadow: 5px 2px 12px var(--blackish);
  color: var(--whiteish);
  transition: 0.6s;
  /*margin-bottom: 45px;*/
}
/*.univers h2 {
  font-size: 35px;
  background-color: var(--whiteishTrans);
color: var(--blackish);
box-shadow: 0px 0px 18px 1px var(--blackishBack3);


  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  transition: 0.6s;
}*/

.univers .container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 0;
}
.univers .container {
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  transition: box-shadow 200ms;
}
.univers .container:hover {
  box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.25);
}
.slideshow {
  position: relative;
  width: 100%;
}
.slideshow:after {
  content: "";
  display: block;
  padding-bottom: calc((100% / 6) * 4);
}

.slideshow .slide {
  /*background-color: #fff;*/
  box-sizing: border-box;
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}
.slideshow .slide:first-child,
.slideshow .slide:target {
  display: block;
}

.pagination {
  display: flex;
  bottom: 10px;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.pagination a {
  background-color: var(--blackish);
  border-radius: 50%;
  display: block;
  height: 35px;
  width: 35px;
  margin-top: -100px;
  box-shadow: 0 0 7px 0.5px var(--blackishBack2);
  transition: 0.2s;
}
.pagination a:not(:last-child) {
  margin-right: 15px;
}
.pagination a span {
  display: none;
}
.pagination a:hover,
.pagination a:focus,
.pagination a:active {
  background: rgba(255, 255, 255, 0.75);
  transform: scale(1.2);
}

.pagination a:nth-child(1) {
  background: url("./background/backgroundU1.webp");
  background-position: center;
  animation: dotAnim 10s linear infinite both;
}
.pagination a:nth-child(2) {
  background: url("./background/backgroundU2.webp");
  background-position: center;
  animation: dotAnim 7s linear infinite both -1s;
}
.pagination a:nth-child(3) {
  background: url("./background/backgroundU3.webp");
  background-position: center;
  animation: dotAnim 15s linear infinite both -3s;
}
.pagination a:nth-child(4) {
  background: url("./background/backgroundU4.webp");
  background-position: center;
  animation: dotAnim 10s linear infinite both;
}
.pagination a:nth-child(5) {
  background: url("./background/backgroundU5.webp");
  background-position: center;
  animation: dotAnim 7s linear infinite both -1s;
}
.pagination a:nth-child(6) {
  background: url("./background/backgroundU6.webp");
  background-position: center;
  animation: dotAnim 15s linear infinite both -3s;
}
.pagination a:nth-child(7) {
  background: url("./background/backgroundU7.webp");
  background-position: center;
  animation: dotAnim 10s linear infinite both;
}
.pagination a:nth-child(8) {
  background: url("./background/backgroundU8.webp");
  background-position: center;
  animation: dotAnim 7s linear infinite both -1s;
}
.pagination a:nth-child(9) {
  background: url("./background/backgroundU9.webp");
  background-position: center;
  animation: dotAnim 13s linear infinite both -4s;
}

/*ANIM*/

/*360° anim for slidet dots*/

@keyframes dotAnim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*anim Futuria*/
/*body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #0D1E31, #111);
  overflow: hidden;

}
*/
.TerraAnim {
  pointer-events:  none;
}

.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.rain.back-row {
  display: none;
  z-index: 1;
  bottom: 60px;
  opacity: 0.5;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
  }
}

.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: none;
}

body.splat-toggle .splat {
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.toggles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.toggle {
  position: absolute;
  left: 20px;
  width: 50px;
  height: 50px;
  line-height: 51px;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.toggle:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.toggle.active {
  background-color: rgba(255, 255, 255, 0.4);
}

.splat-toggle {
  top: 20px;
}

.back-row-toggle {
  top: 90px;
  line-height: 12px;
  padding-top: 14px;
}

.single-toggle {
  top: 160px;
}

body.single-toggle .drop {
  display: none;
}

body.single-toggle .drop:nth-child(10) {
  display: block;
}

.FleurRougeAnim{

}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /*background: #3E1E68;*/
    overflow: hidden;
  opacity: 0.8;

}

.background span {
  opacity: 0.2;
    width: 28vmin;
    height: 28vmin;
    border-radius: 28vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 31;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    filter: saturate(50%);
}


.background span:nth-child(0) {
    color: #E45A84;
    top: 93%;
    left: 63%;
    animation-duration: 44s;
    animation-delay: -130s;
    transform-origin: -5vw -11vh;
    box-shadow: 56vmin 0 7.661094134689758vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 75%;
    left: 14%;
    animation-duration: 100s;
    animation-delay: -85s;
    transform-origin: -3vw 3vh;
    box-shadow: 56vmin 0 7.590013439694404vmin currentColor;
}
.background span:nth-child(2) {
    color: #568a89;
    top: 15%;
    left: 25%;
    animation-duration: 119s;
    animation-delay: -182s;
    transform-origin: 6vw 15vh;
    box-shadow: 56vmin 0 7.16602092659289vmin currentColor;
}
.background span:nth-child(3) {
    color: #cd3cd7;
    top: 30%;
    left: 98%;
    animation-duration: 27s;
    animation-delay: -63s;
    transform-origin: -5vw -9vh;
    box-shadow: -56vmin 0 7.191787495606523vmin currentColor;
}
.background span:nth-child(4) {
    color: #cd3cd7;
    top: 25%;
    left: 61%;
    animation-duration: 47s;
    animation-delay: -68s;
    transform-origin: 17vw 9vh;
    box-shadow: -56vmin 0 7.923453280983113vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 64%;
    left: 79%;
    animation-duration: 62s;
    animation-delay: -118s;
    transform-origin: -14vw -3vh;
    box-shadow: 56vmin 0 7.797062825212555vmin currentColor;
}
.background span:nth-child(6) {
    color: #cd3cd7;
    top: 65%;
    left: 81%;
    animation-duration: 191s;
    animation-delay: -41s;
    transform-origin: 2vw 1vh;
    box-shadow: 56vmin 0 7.818268874406403vmin currentColor;
}
.background span:nth-child(7) {
    color: #E45A84;
    top: 8%;
    left: 38%;
    animation-duration: 142s;
    animation-delay: -96s;
    transform-origin: -9vw -23vh;
    box-shadow: 56vmin 0 7.518036813315791vmin currentColor;
}
.background span:nth-child(8) {
    color: #E45A84;
    top: 84%;
    left: 67%;
    animation-duration: 112s;
    animation-delay: -70s;
    transform-origin: 23vw -21vh;
    box-shadow: -56vmin 0 7.063429584040772vmin currentColor;
}
.background span:nth-child(9) {
    color: #cd3cd7;
    top: 87%;
    left: 7%;
    animation-duration: 9s;
    animation-delay: -151s;
    transform-origin: 21vw 7vh;
    box-shadow: 56vmin 0 7.899221502065422vmin currentColor;
}
.background span:nth-child(10) {
    color: #cd3cd7;
    top: 50%;
    left: 24%;
    animation-duration: 162s;
    animation-delay: -158s;
    transform-origin: 18vw -1vh;
    box-shadow: 56vmin 0 7.867737446617662vmin currentColor;
}
.background span:nth-child(11) {
    color: #E45A84;
    top: 21%;
    left: 76%;
    animation-duration: 132s;
    animation-delay: -165s;
    transform-origin: 19vw 21vh;
    box-shadow: -56vmin 0 7.427606506272747vmin currentColor;
}
.background span:nth-child(12) {
    color: #E45A84;
    top: 55%;
    left: 19%;
    animation-duration: 29s;
    animation-delay: -21s;
    transform-origin: 16vw 13vh;
    box-shadow: 56vmin 0 7.214137118555776vmin currentColor;
}
.background span:nth-child(13) {
    color: #E45A84;
    top: 51%;
    left: 86%;
    animation-duration: 155s;
    animation-delay: -23s;
    transform-origin: 21vw -12vh;
    box-shadow: -56vmin 0 7.968005933975601vmin currentColor;
}
.background span:nth-child(14) {
    color: #568a89;
    top: 80%;
    left: 57%;
    animation-duration: 153s;
    animation-delay: -81s;
    transform-origin: 19vw 2vh;
    box-shadow: 56vmin 0 7.437949912965711vmin currentColor;
}
.background span:nth-child(15) {
    color: #cd3cd7;
    top: 66%;
    left: 82%;
    animation-duration: 16s;
    animation-delay: -144s;
    transform-origin: -4vw -21vh;
    box-shadow: -56vmin 0 7.666816570942088vmin currentColor;
}
.background span:nth-child(16) {
    color: #568a89;
    top: 32%;
    left: 80%;
    animation-duration: 109s;
    animation-delay: -178s;
    transform-origin: -3vw -17vh;
    box-shadow: -56vmin 0 7.965433208849654vmin currentColor;
}
.background span:nth-child(17) {
    color: #E45A84;
    top: 86%;
    left: 96%;
    animation-duration: 11s;
    animation-delay: -128s;
    transform-origin: 23vw -11vh;
    box-shadow: -56vmin 0 7.9740605337120485vmin currentColor;
}
.background span:nth-child(18) {
    color: #cd3cd7;
    top: 15%;
    left: 17%;
    animation-duration: 140s;
    animation-delay: -81s;
    transform-origin: 11vw 24vh;
    box-shadow: 56vmin 0 7.0614315587062615vmin currentColor;
}
.background span:nth-child(19) {
    color: #cd3cd7;
    top: 17%;
    left: 10%;
    animation-duration: 44s;
    animation-delay: -95s;
    transform-origin: -5vw -8vh;
    box-shadow: 56vmin 0 7.4154181922351246vmin currentColor;
}
