/***UNIVERS***/

.univers {
  width: 100vw;
  height: 100vh;
  min-height: 350px;
  position: relative;
  background-color: var(--blackish);
  background-image: linear-gradient(
      to top,
      #222 5%,
      var(--blackish) 6%,
      var(--blackish) 7%,
      transparent 7%
    ),
    linear-gradient(to bottom, var(--blackish) 30%, transparent 30%),
    linear-gradient(to right, #222, #2e2e2e 5%, transparent 5%),
    linear-gradient(
      to right,
      transparent 6%,
      #222 6%,
      #2e2e2e 9%,
      transparent 9%
    ),
    linear-gradient(
      to right,
      transparent 27%,
      #222 27%,
      #2e2e2e 34%,
      transparent 34%
    ),
    linear-gradient(
      to right,
      transparent 51%,
      #222 51%,
      #2e2e2e 57%,
      transparent 57%
    ),
    linear-gradient(to bottom, var(--blackish) 35%, transparent 35%),
    linear-gradient(
      to right,
      transparent 42%,
      #222 42%,
      #2e2e2e 44%,
      transparent 44%
    ),
    linear-gradient(
      to right,
      transparent 45%,
      #222 45%,
      #2e2e2e 47%,
      transparent 47%
    ),
    linear-gradient(
      to right,
      transparent 48%,
      #222 48%,
      #2e2e2e 50%,
      transparent 50%
    ),
    linear-gradient(
      to right,
      transparent 87%,
      #222 87%,
      #2e2e2e 91%,
      transparent 91%
    ),
    linear-gradient(to bottom, var(--blackish) 37.5%, transparent 37.5%),
    linear-gradient(
      to right,
      transparent 14%,
      #222 14%,
      #2e2e2e 20%,
      transparent 20%
    ),
    linear-gradient(to bottom, var(--blackish) 40%, transparent 40%),
    linear-gradient(
      to right,
      transparent 10%,
      #222 10%,
      #2e2e2e 13%,
      transparent 13%
    ),
    linear-gradient(
      to right,
      transparent 21%,
      #222 21%,
      #1a1a1a 25%,
      transparent 25%
    ),
    linear-gradient(
      to right,
      transparent 58%,
      #222 58%,
      #2e2e2e 64%,
      transparent 64%
    ),
    linear-gradient(
      to right,
      transparent 92%,
      #222 92%,
      #2e2e2e 95%,
      transparent 95%
    ),
    linear-gradient(to bottom, var(--blackish) 48%, transparent 48%),
    linear-gradient(
      to right,
      transparent 96%,
      #222 96%,
      #1a1a1a 99%,
      transparent 99%
    ),
    linear-gradient(
      to bottom,
      transparent 68.5%,
      transparent 76%,
      var(--blackish) 76%,
      var(--blackish) 77.5%,
      transparent 77.5%,
      transparent 86%,
      var(--blackish) 86%,
      var(--blackish) 87.5%,
      transparent 87.5%
    ),
    linear-gradient(
      to right,
      transparent 35%,
      #222 35%,
      #2e2e2e 41%,
      transparent 41%
    ),
    linear-gradient(to bottom, var(--blackish) 68%, transparent 68%),
    linear-gradient(
      to right,
      transparent 78%,
      #333 78%,
      #333 80%,
      transparent 80%,
      transparent 82%,
      #333 82%,
      #333 83%,
      transparent 83%
    ),
    linear-gradient(
      to right,
      transparent 66%,
      #222 66%,
      #2e2e2e 85%,
      transparent 85%
    );
  background-size: 300px 150px;
  background-position: center bottom;

  -webkit-animation: fadeInBibli 1s ease-out both;
  animation: fadeInBibli 1s ease-out both;
}

.univers:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--blackish);

  background-image: linear-gradient(
      to top,
      #3a574a 5%,
      var(--blackish) 6%,
      var(--blackish) 7%,
      transparent 7%
    ),
    linear-gradient(to bottom, var(--blackish) 30%, transparent 30%),
    linear-gradient(
      to right,
      var(--greenish2),
      var(--greenish3) 5%,
      transparent 5%
    ),
    linear-gradient(
      to right,
      transparent 6%,
      var(--greenish) 6%,
      #61d68d 9%,
      transparent 9%
    ),
    linear-gradient(
      to right,
      transparent 27%,
      #556b2f 27%,
      #4b6916 34%,
      transparent 34%
    ),
    linear-gradient(
      to right,
      transparent 51%,
      #95bc0e 51%,
      #579506 57%,
      transparent 57%
    ),
    linear-gradient(to bottom, var(--blackish) 35%, transparent 35%),
    linear-gradient(
      to right,
      transparent 42%,
      #008063 42%,
      #004d3c 44%,
      transparent 44%
    ),
    linear-gradient(
      to right,
      transparent 45%,
      #008063 45%,
      #004d4d 47%,
      transparent 47%
    ),
    linear-gradient(
      to right,
      transparent 48%,
      #008063 48%,
      #004d4d 50%,
      transparent 50%
    ),
    linear-gradient(
      to right,
      transparent 87%,
      #779981 87%,
      #4f6a5e 91%,
      transparent 91%
    ),
    linear-gradient(to bottom, var(--blackish) 37.5%, transparent 37.5%),
    linear-gradient(
      to right,
      transparent 14%,
      #6bbd7a 14%,
      #44984e 20%,
      transparent 20%
    ),
    linear-gradient(to bottom, var(--blackish) 40%, transparent 40%),
    linear-gradient(
      to right,
      transparent 10%,
      #3c8000 10%,
      #4d4d00 13%,
      transparent 13%
    ),
    linear-gradient(
      to right,
      transparent 21%,
      #138b5a 21%,
      #12794f 25%,
      transparent 25%
    ),
    linear-gradient(
      to right,
      transparent 58%,
      #3bba68 58%,
      #12794f 64%,
      transparent 64%
    ),
    linear-gradient(
      to right,
      transparent 92%,
      #2f4f4f 92%,
      #1c2f2f 95%,
      transparent 95%
    ),
    linear-gradient(to bottom, var(--blackish) 48%, transparent 48%),
    linear-gradient(
      to right,
      transparent 96%,
      #2f4f4f 96%,
      #1c2f2f 99%,
      transparent 99%
    ),
    linear-gradient(
      to bottom,
      transparent 68.5%,
      transparent 76%,
      var(--blackish) 76%,
      var(--blackish) 77.5%,
      transparent 77.5%,
      transparent 86%,
      var(--blackish) 86%,
      var(--blackish) 87.5%,
      transparent 87.5%
    ),
    linear-gradient(
      to right,
      transparent 35%,
      #16372d 35%,
      #16372d 41%,
      transparent 41%
    ),
    linear-gradient(to bottom, var(--blackish) 68%, transparent 68%),
    linear-gradient(
      to right,
      transparent 78%,
      #0e9d1f 78%,
      #068715 80%,
      transparent 80%,
      transparent 82%,
      #0e9d1f 82%,
      #068715 83%,
      transparent 83%
    ),
    linear-gradient(
      to right,
      transparent 66%,
      #194d39 66%,
      #144733 85%,
      transparent 85%
    );
  background-size: 300px 150px;
  background-position: center bottom;
  clip-path: circle(150px at center center);
  animation: flashlight 5000ms;
  /*stopping anim*/
  clip-path: circle(0px at center center);
}
.univers:after {
  content: "";
  width: 25px;
  height: 10px;
  position: absolute;
  left: calc(50% + 59px);
  bottom: 100px;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, #bce950 50%, transparent 50%),
    radial-gradient(circle, #bce950 50%, transparent 50%);
  background-size: 10px 10px;
  background-position: left center, right center;
  animation: eyes 5000ms infinite alternate;
  /********************************* faire click caché******************************/
}
