/***UNIVERS***/

.univers {
  background-color: var(--blackish);
  width: 100vw;
  height: 100vh;
  margin-top: -50px; /**/
  position: relative;
}

.linkToU {
  position: absolute;
  /*top: 35%;*/
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  transition: 1s;
}

.linkToU:link {
  text-decoration: none;
}

.univers h1 {
  text-align: center;
  /*font-size: 100px;*/
  font-size: 80px;
  text-shadow: 5px 2px 12px var(--blackish);
  color: var(--whiteish);
  transition: 0.6s;
  margin-bottom: 25px;
  text-transform: uppercase;

  animation: anipers 15s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    alternate both;
}
.univers p {
  text-align: center;
  text-shadow: 5px 2px 12px var(--blackish);
  color: var(--whiteish);
  transition: 0.6s;
  /*margin-bottom: 45px;*/
}
.univers h2 {
  font-size: 24px;
  background-color: var(--greenishTrans0);
  color: var(--blackish);
  box-shadow: 0px 0px 18px 1px var(--blackishBack3);
  width: fit-content;
  margin: 35px auto;
  padding: 10px;
  border-radius: 10px;
  transition: 0.6s;
}

.univers .container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 0;
}
.univers .container {
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  transition: box-shadow 200ms;
}
.univers .container:hover {
  box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.25);
}
.slideshow {
  position: relative;
  width: 100%;
}
.slideshow:after {
  content: "";
  display: block;
  padding-bottom: calc((100% / 6) * 4);
}

.slideshow .slide {
  /*background-color: #fff;*/
  box-sizing: border-box;
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}
.slideshow .slide:first-child,
.slideshow .slide:target {
  display: block;
}

.pagination {
  display: flex;
  bottom: 10px;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.pagination a {
  background-color: var(--blackish);
  border-radius: 50%;
  display: block;
  height: 35px;
  width: 35px;
  margin-top: -100px;
  box-shadow: 0 0 7px 0.5px var(--blackishBack2);
  transition: 0.2s;
}
.pagination a:not(:last-child) {
  margin-right: 15px;
}
.pagination a p {
  display: none;
}
.pagination a:nth-child(1) {
  background: url("./background/backgroundU1.webp");
  background-position: center;
  animation: dotAnim 10s linear infinite both;
}
.pagination a:nth-child(2) {
  background: url("./background/backgroundU2.webp");
  background-position: center;
  animation: dotAnim 7s linear infinite both -1s;
}
.pagination a:nth-child(3) {
  background: url("./background/backgroundU3.webp");
  background-position: center;
  animation: dotAnim 15s linear infinite both -3s;
}
.pagination a:nth-child(4) {
  background: url("./background/backgroundU4.webp");
  background-position: center;
  animation: dotAnim 10s linear infinite both;
}
.pagination a:nth-child(5) {
  background: url("./background/backgroundU5.webp");
  background-position: center;
  animation: dotAnim 7s linear infinite both -1s;
}
.pagination a:nth-child(6) {
  background: url("./background/backgroundU6.webp");
  background-position: center;
  animation: dotAnim 15s linear infinite both -3s;
}
.pagination a:nth-child(7) {
  background: url("./background/backgroundU7.webp");
  background-position: center;
  animation: dotAnim 10s linear infinite both;
}
.pagination a:nth-child(8) {
  background: url("./background/backgroundU8.webp");
  background-position: center;
  animation: dotAnim 7s linear infinite both -1s;
}
.pagination a:nth-child(9) {
  background: url("./background/backgroundU9.webp");
  background-position: center;
  animation: dotAnim 13s linear infinite both -4s;
}

.linkToU:hover h2 {
  transform: scale(1.09);
}
